node_modules


offline-primaria/assets
offline-primaria/contents
offline/assets
offline/contents

murga-linux-x64/

**/assets/*
**/character/*
**/contents/*
**/exercises/*
**/chapters/**
**/lessons/*
**/books/*
server/**
